#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #97C7DB;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

header {
  width: 100%;
}

.header {
  background-color: #635CA0;
  height: 80px;
  color: #B787D2;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.header h1 {
  margin: 10px;
  text-align: center;
}

.nav-tabs {
  padding: 10px;
  align-items: center;
  border: none;
}

.nav-tabs a {
  text-decoration: none;
  color: black;

}


footer {

  height: 10vh;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

}

main {
  display: flex;
  justify-content: center;
  text-align: center;
}

.main-content h1 {
  color: #333565;
}

.form {
  margin: 20px;
}

.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.repo-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  padding: 20px;
}

.repo-card {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.repo-image {
  height: 150px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  text-align: center;
  transition: transform 0.3s;
}

.repo-image:hover {
  transform: scale(1.05);
}

.repo-name {
  opacity: 1;
  transition: opacity 0.3s;
  position: absolute;
}

.repo-card:hover .repo-image span {
  color: #B787D2;
}